html{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(230, 165, 101);
    margin: 0;
    padding: 20px;
}

#logo {
    font-size: 30px;
    text-align: center;
    color: white;


}

#menu, li{
    margin: 0;
    float: left;
    list-style: none;
    
}

#menu a{
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 0px 10px 0px 0px;
    display: block;
    float: left;
    
    

}
#menu a:hover{
    background-color: rgb(255, 139, 23);
    color:#fff;
}

/*#BigContainer{
    max-width:100%;
    padding: 50px;
    background-color: rgb(230, 165, 101);
    list-style: none;
    color: white;
    text-decoration: none;
    display: flexbox;
    box-sizing: content-box;
    border: 5px solid white;
    
    

}*/

.box1  {
    
     background: rgb(230, 165, 101);
     padding: 30px;
     font-size: 12px;
     display: block;
     border: 5px solid white;
     text-align: center;
     color: white;
}
.box2{
    
    background:  rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}

.box3{
    
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}

.box4{
    
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}

.box5{

    
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}

.box6{
  
  background: rgb(230, 165, 101);
  padding: 30px;
  font-size: 12px;
  display: block;
  border: 5px solid white;
  text-align: center;
  color: white;
}
.box7{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}
.box8{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid #ffffff;
    text-align: center;
    color: white;
}
.box9{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid #ffffff;
    text-align: center;
    color: white;
}
.box10{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}
.box11{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}
.box12{
    flex: 1;
    background: rgb(230, 165, 101);
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 5px solid white;
    text-align: center;
    color: white;
}
#BigImage{
    max-width: 2500px;
    max-height: 1500px;
    display: block;
    margin-right: auto;

}

#BigContainer ,ul{

    display: flex;
    list-style: none; 
    float: left;

}

#Images{
 width: 500px;
 height: 500px;
 margin:center;


}
#content{
    color: white;
}



