html{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(230, 165, 101);
    margin: 0;
    padding: 20px;
}

#logo {
    font-size: 30px;
    text-align: center;
    color: white;


}

#menu, li{
    margin: 0;
    float: left;
    list-style: none;
    
}

#menu a{
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 0px 10px 0px 0px;
    display: block;
    float: left;
    
    

}
#menu a:hover{
    background-color: rgb(255, 139, 23);
    color:#fff;
}

#BigContainer{
    max-width:100%;
    padding: 50px;
    background-color: rgb(255, 139, 23);
    list-style: none;
    color: white;
    text-decoration: none;
    display: flexbox;
    box-sizing: content-box;
    border: 2px solid white;
    
    

}

.box1  {
    
     background: palevioletred;
     padding: 30px;
     font-size: 12px;
     display: block;
     border: 2px solid white;
}
.box2{
    
    background: pink;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}

.box3{
    
    background: blue;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}

.box4{
    
    background: blueviolet;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}

.box5{

    
    background:grey;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}

.box6{
  
  background:red;
  padding: 30px;
  font-size: 12px;
  display: block;
  border: 2px solid white;
}
.box7{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.box8{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.box9{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.box10{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.box11{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.box12{
    flex: 1;
    background:green;
    padding: 30px;
    font-size: 12px;
    display: block;
    border: 2px solid white;
}
.BigImage{
    max-width: auto;
    max-height: auto;
    display: block;
    margin: center;

}

#BigContainer ,ul{

    display: flex;
    list-style: none; 
    float: left;

}

#Images{
 width: 500px;
 height: 500px;
 margin:center;

}



